<div class="dialog-container">
    <button mat-icon-button mat-dialog-close>
        <i class="material-icons">close</i>
    </button>

    <img src="{{colaborador.fotoUrl | avatar}}" alt="Avatar">
    <h3>{{colaborador.nome}}</h3>
    <span><strong>CPF:</strong>{{colaborador.cpf}}</span>
    <span><strong>Data de nascimento:</strong>{{colaborador.dataNascimento}}</span>
    <span><strong>Cargo:</strong>{{colaborador.cargo}}</span>
    <span><strong>Setor:</strong>{{colaborador.setor}}</span>
    <span><strong>Estado:</strong>{{colaborador.estado}}</span>
    <span><strong>Cidade:</strong>{{colaborador.cidade}}</span>
    <span><strong>E-mail:</strong>{{colaborador.email}}</span>
    <span><strong>Remuneração:</strong>R${{colaborador.remuneracao}}</span>


</div>
